
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.full-body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    color: #ffffff;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/* main style */
/* .head-section{
     width: 1600px;
     background-color: aqua;
} */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    width: 71%;
   max-width: 1140px;
    margin: 0px auto;
     display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.nav-logo  h2{
    font-size: 45px;
    font-weight: 900;
}

.orange{
    color: #FD6E0A;
}

nav .list{
    display: flex;
    align-items: center;
    gap: 51px
}

.list li{
    list-style: none;
}

.list li a{
    text-decoration: none;
    font-size: 20px;
    color:#474747;
}

#banner{
    /* border: 1px solid red; */
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-top: 5px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-top:20px ;
    margin-bottom: 30px;
}

.banner-btn{
    display: flex;
    gap:30px
}

/* .btn2{
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background-color: ##FFF8F3;
    font-size: 20px;
    font-weight: bold;
    padding: 19px 23px 18px 24px;
    border-radius:5px;
    
} */

.banner-img img{
    max-width: 584px;
}